{% extends "base.html" %}
{% block content%}
    <h2>Designers</h2>
    {% for designer in designers%}
     <section class='designers_list'>
         <h3>{{designer.designer_name}}</h3>
         <p>{{designer.email}}</p>
         <div>
            <button class="material-icons red">delete</button>
             <a href='/designers/{{designer.id}}/edit' class="material-icons orange">edit</a>
            <button class="material-icons green">add</button>
        </div>
     </section>
    {% endfor%}
    <a href='/designers/new'>Add New Designer</a>
{%endblock%}