{% extends "base.html" %}
{% block content%}
    <form action='/designers/new', method="POST"></id>
        <div>
            <label for='designer_name'>Name:</label>
            <input type ='text' id='designer_name' name='designer_name' placeholder='Name' required autofocus>
        </div>
        <div>
            <label for='email'>Email:</label>
            <input type='text' id='email' name='email' placeholder='Email' required autofocus>
        </div>
        <button type="submit">Add</button>
    </form>
{% endblock %}