{% extends "base.html" %}
{% block content%}
    <section>
        <p>{{designer.detail()}}</p>
    </section>
    <article>
        {% for product in products %}
        <section class = 'inventory_item'>
           <div class='product_top'>
              <a href="/products/{{product.id}}">
                 <img src='https://images.unsplash.com/photo-1598560917807-1bae44bd2be8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80'>
              </a>
              <div class='name_by_designer'>
                 <p>{{product.name}}</p>
                 <p>by {{product.designer.name}}</p>
              </div>
           </div>
           <p>Type:{{product.type}}</p>
           <p class='description'>{{product.description}}</p>
           <p>Cost: {{product.cost}}</p>
           <p>Price: {{product.price}}</p>
           <p>Markup: {{product.calculate_markup()}}</p>
           <div class='quantity'>
              <p>Quantity: {{product.quantity}}</p>
              {% if product.low_stock() == True %}
              <p class='low_stock'>low stock</p>
              {% endif %}
              {% if product.out_of_stock() == True %}
              <p class='out_of_stock'>out of stock</p>
              {% endif %}
           </div>
           <div class='buttons'>
              <a href="/products/{{product.id}}/edit" class="material-icons orange">edit</a>
              <button class="material-icons green">add</button>
           </div>
        </section>
     {% endfor%}
     </article>
{% endblock %}