
body {
    background-color: rgb(238, 242, 245);
    font-family: 'Work Sans', sans-serif;
    font-size: large;
    text-align: center;
}

a {
    text-decoration: none;
}

section {
    margin-left: 20px ;
    margin-bottom: 20px;
    text-align: left;
}

body > section >img {
    height: 50px;
    width: 50px;
}

header {
    display: flex;
}

form {
    margin-left: 50px;
    text-align: left;
}

select {
    padding: 6px;
    border-radius: 10px;
    font-family: 'Work Sans', sans-serif;
}

input {
    padding: 5px;
    border-radius: 10px;
    border-width: 1px;
}

button {
    font-weight: 500;
    border: solid;
    padding: 5px;
    border-radius: 10px;
    border-width: 1px;
    background-color: rgb(236, 221, 193);
}

.inventory_list > article{
    display: flex;
    flex-wrap: wrap;
    color: rgb(33, 38, 43);
    margin-top: 50px;
    justify-content: center;
    
}

.inventory_list{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

article > section {
    flex-basis: 25%;
}

section > input {
    padding: 6px;
    margin: 10px;
    border-radius: 30px;
}

section > label {
    margin: 5px;
}

nav > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav > ul > li {
    list-style: none;
    margin: 1%;   
}

form > div {
    margin: 2%;
}

form > button {
    padding: 5px;
    margin: 2%; 
    border-radius: 10px;
    border-width: 1px;
}

#new_product {
    font-weight: 900;
    border: solid;
    padding: 5px;
    border-radius: 10px;
    border-width: 1px;
    background-color: rgb(236, 221, 193);
}

.product_top{
    display: flex;
}
.inventory_item {
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: rgb(179, 187, 194);
    padding: 15px;
}

.inventory_item img {
    height: 50px;
    width: 50px;
}

.description{
    font-style: italic;
    font-size: medium;
}

.material-icons.red{ color: #8b2202; }
.material-icons.green{ color: #346832; }
.material-icons.orange{ color: #a75f0e; }

.logo {
    height: 50px;
    width: 60px;
    margin: 20px;
}

.material-icons {
    border: solid;
    padding: 5px;
    border-radius: 10px;
    border-width: 1px;
    background-color: rgb(236, 221, 193);
}

.designers_list {
    display: flex;
    justify-content: space-evenly;
}

.quantity {
    display: flex;
    flex-direction: row;
}

.quantity p{
    margin-right: 5px;
}

.low_stock{
    color: #a75f0e;
}

.out_of_stock{
   color: #8b2202;
}

.name_by_designer p {
    margin-top: 0px;
    margin-left: 5px;
    margin-bottom: 0px;
}

.name_by_designer a {
    margin-top: 0px;
    margin-left: 5px;
    font-size: 15px;
    font-style: italic;
}