{% extends "base.html" %}
{% block content%}
<a href="/new">Add New Product</a>
{% for product in products%}
   <section class = 'inventory_item'>
        <a href="/products/{{product.id}}">
        <img src='https://images.unsplash.com/photo-1598560917807-1bae44bd2be8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80'>
        <p>{{product.product_name}}</p>
        <p>{{product.description}}</p>
        <p><a href='/designers/{{product.designer.id}}'>by {{product.designer.designer_name}}</a></p>
        </a>  
    <hr>
    <p>{{product.cost}}</p>
    <p>{{product.price}}</p>
    <p>{{product.quantity}}</p>
    <button class="material-icons">delete</button>
    <button class="material-icons">edit</button>
    <button class="material-icons">add</button>
   </section>
{% endfor%}
{% endblock %}